@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

@font-face {
  src: url(../fonts/Avenir-Heavy.ttf);
  font-family: "Avenir-heavy";
}

@font-face {
  src: url(../fonts/Avenir-Light.ttf);
  font-family: "Avenir-light";
}

@font-face {
  src: url(../fonts/Avenir-Medium.ttf);
  font-family: "Avenir-medium";
}
