{% block card %}
    <li class="Card Border">
        <div class="Card-header">
            <div class="BackDarker"></div>
            <h6>French kiss panthers</h6>
            <h5>01/18 - 09am</h5>
        </div>
        <div class="Card-content">
            <h3>Kawai Meeting</h3>
            <p>7676 San Pedro Street, Los Angeles.</p>
        </div>
        <div class="Card-footer BackLighter">
            <a href="#">More</a>
            <img src="{{ asset('images/mail.png') }}" alt="Message">
        </div>
    </li>
{% endblock %}
