{% block body %}
  {% block footer %}
    <div id="footer">
      <h3>All rights reserved.</h3>
    </div>
  {% endblock %}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('scripts/app.js') }}"></script>
{% endblock %}
</body>
</html>
