{% block footer %}
    <div class="Footer BackLighter">
      <div class="Footer-about">
        <h6 class="FontLighter">about</h6>
        <ul>
          <li><a href="#">Who are we?</a></li>
          <li><a href="#">How does it work?</a></li>
          <li><a href="#">Recruitment</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="Footer-faq">
        <h6 class="FontLighter">faq</h6>
        <ul>
          <li><a href="#">I can not connect with another mail account</a></li>
          <li><a href="#">I can not update my calendar</a></li>
          <li><a href="#">I can not receive alerts on my mail box</a></li>
        </ul>
      </div>
      <div class="Footer-legal">
        <h6 class="FontLighter">legal infos</h6>
        <ul>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Conditions of use</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
    </div>
    <h6 class="Credits FontDarker">© 2017 Nikki Agenda</h6>
{% endblock %}
</body>
</html>