{% block header %}
    {% include 'menu.html.twig' %}
    <form class="Creation" action="#" method="post">
        <input type="text" name="MeetingName" value="Meeting's name">
        <button type="submit" name="Create" class="Creation-button">
            <img src="{{ asset('images/create.png') }}" alt="Create">
            <h6>Create</h6>
        </button>
    </form>
{% endblock %}
