{% extends 'base.html.twig' %}

{% block title %}Nikki Agenda{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="Container">

    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
