{% include 'header.html.twig' %}

{% block body %}
    <div id="container">
        <img src="#" alt="logo nikki">
        <h1>Connectez-vous</h1>
    </div>
{% endblock %}

{% include 'footer.html.twig' %}
