{% block menu %}
    <div class="Menu">
        <div class="Menu-options">
            <ul class="Menu-options-colors">
                <li><div data-color="red" class="Menu-options-colors-red"></div></li>
                <li><div data-color="green" class="Menu-options-colors-green"></div></li>
                <li><div data-color="blue" class="Menu-options-colors-blue"></div></li>
                <li><div data-color="yellow" class="Menu-options-colors-yellow"></div></li>
            </ul>
        </div>
        <ul class="Menu-list">
            <li><a href="#"><img src="{{ asset('images/logo.png') }}" alt="logo nikki"></a></li>
        </ul>
    </div>
{% endblock %}
