<h2>Popups</h2>

<div class="Popup Popup--open">
  <form action="">

    <h3 class="Popup-title">Meeting invite</h3>
    <div class="Popup--invite">
      <div class="Popup--invite-team">TEAM SDI<div class="Popup--invite-place">ROOM 12</div></div>
      <h4 class="Popup--invite-title">Post development progress meeting</h4>
      <div class="Popup--invite-date">Monday, 6th april - 18h</div>
      <div class="Popup--invite-availability">
        <div>
          <input type="radio" id="available" name="availability" checked>
          <label for="available">Available</label>
        </div>
        <div>
          <input type="radio" id="occupied" name="availability">
          <label for="occupied">Occupied</label>
        </div>
      </div>
      <div class="Popup--invite-members">
        <h4 class="Popup--invite-members-title">Members invited</h4>
        <div class="Popup--invite-members-subtitle">Name/Email</div>
        <div class="Popup--invite-members-list">
          <div>
            <span class="Popup--invite-members-list-name Popup--invite-members-list-name--admin">John Doe</span>
            <span class="Popup--invite-members-list-email">(johndoe@mail.com)</span>
            <span class="Popup--invite-members-list-availability"><img src="img/data/check.svg" alt="available"></span>
          </div>
          <div>
            <span class="Popup--invite-members-list-name">Jane Doe</span>
            <span class="Popup--invite-members-list-email">(janedoe@mail.com)</span>
            <span class="Popup--invite-members-list-availability"><img src="img/data/uncheck.svg" alt="unavailable"></span>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" name="nom" value="SUBMIT" class="Popup-submit">

  </form>
</div>