<h2>Popups</h2>

<div class="Popup">
  <form action="">

    <h3 class="Popup-title">Meeting invite</h3>
    <div class="Popup-info">Team SDI<div class="Popup-info-more">ROOM 12</div></div>
    <div class="Popup--invite">
      <h4 class="Popup--invite-title">Post development progress meeting</h4>
      <div class="Popup--invite-date">Monday, 6th april - 18h</div>
      <div class="Popup--invite-availability">
        <div>
          <input type="radio" id="available" name="availability" checked>
          <label for="available">Available</label>
        </div>
        <div>
          <input type="radio" id="occupied" name="availability">
          <label for="occupied">Occupied</label>
        </div>
      </div>
      <div class="Popup--invite-members">
        <h4 class="Popup--invite-members-title">Members invited</h4>
        <div class="Popup--invite-members-subtitle">Name/Email</div>
        <div class="Popup--invite-members-list">
          <div>
            <span class="Popup--invite-members-list-name Popup--invite-members-list-name--admin">John Doe</span>
            <span class="Popup--invite-members-list-email">(johndoe@mail.com)</span>
            <span class="Popup--invite-members-list-availability"><img src="img/data/check.svg" alt="available"></span>
          </div>
          <div>
            <span class="Popup--invite-members-list-name">Jane Doe</span>
            <span class="Popup--invite-members-list-email">(janedoe@mail.com)</span>
            <span class="Popup--invite-members-list-availability"><img src="img/data/uncheck.svg" alt="unavailable"></span>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" name="nom" value="SUBMIT" class="Popup-submit">

  </form>
</div>

<div class="Popup Popup--open">
  <form action="" method="" id="eventForm">
    
    <h3 class="Popup-title">Meeting creation</h3>
    <div class="Popup-info">Nikki Agenda</div>
    <div class="Popup--event">
      <div class="Popup--event-title">
        <input type="text" placeholder="Enter here a name for your event" name="event_name">
      </div>
      <div class="Popup--event-subtitle">Pick the time slot that suits you more</div>
      <div class="Popup--event-date">
        <input type="date" name="event_dateFrom">
        <span>to</span>
        <input type="date" name="event_dateTo">
      </div>
      <div class="Popup--event-time">
        <div class="Popup--event-time-title">Duration (min)</div>
        <input type="range" min="15" max="180" step="15" oninput="outputUpdate(value)" value="15" name="event_duration">
        <output id="duration">15</output>
      </div>
      <div class="Popup--event-place">
        <div class="Popup--event-place-title">Place</div> 
        <input type="text" placeholder="Room 12" name="event_place">
      </div>
      <div class="Popup--event-team">
        <div class="Popup--event-team-title">Team</div>
        <select name="event_team">
          <option value="Team name" selected disabled>Team name</option>
          <option value="team_one">Team 1</option>
          <option value="team_two">Team 2</option>
        </select>
      </div>
    </div>
    <input type="submit" value="SUBMIT" class="Popup-submit">
  </form>
</div>

<div class="Popup">
  <form action="" method="" id="eventForm">
    
    <h3 class="Popup-title">Meeting creation</h3>
    <div class="Popup-info">Nikki Agenda</div>
    <div class="Popup--event">
      <div class="Popup--event-title">
        Réunion d'avancement
      </div>
      <div class="Popup--event-subtitle">Pick the time slot that suits you more</div>
      <ul class="Popup--event-tags">
        <li>17/02/17 to 19/02/17</li>
        <li>Salle 12</li>
        <li>10AM to 11AM</li>
      </ul>
      <ul class="Popup--event-choose">
        <li>
          <div class="Popup--event-choose-title">Jeudi 17 février - 10AM to 11AM</div>
          <div>
            <input type="radio" id="option1" name="event" checked>
            <label for="option1">Choisir</label>
          </div>
        </li>
        <li>
          <div class="Popup--event-choose-title">Mercredi 18 février - 10AM to 11AM</div>
          <div>
            <input type="radio" id="option2" name="event">
            <label for="option2">Choisir</label>
          </div>
        </li>
        <li>
          <div class="Popup--event-choose-title">Mardi 19 février - 10AM to 11AM</div>
          <div>
            <input type="radio" id="option3" name="event">
            <label for="option3">Choisir</label>
          </div>
        </li>
        <li>
          <div class="Popup--event-choose-title">Mardi 19 février - 10AM to 11AM</div>
          <div>
            <input type="radio" id="option3" name="event">
            <label for="option3">Choisir</label>
          </div>
        </li>
        <li>
          <div class="Popup--event-choose-title">Mardi 19 février - 10AM to 11AM</div>
          <div>
            <input type="radio" id="option3" name="event">
            <label for="option3">Choisir</label>
          </div>
        </li>
      </ul>

    </div>
    <input type="submit" value="SUBMIT" class="Popup-submit">
  </form>
</div>

<div class="json"></div>