{% extends "::base.html.twig" %}

{% block title %}AppBundle:GoogleOAuth:getAuthenticationCode{% endblock %}

{% block body %}
<h1>Welcome to the GoogleOAuth:getAuthenticationCode page</h1>
{% endblock %}
