{% extends "::base.html.twig" %}

{% block title %}AppBundle:GoogleOAuth:getAccessCodeRedirect{% endblock %}

{% block body %}
<h1>Welcome to the GoogleOAuth:getAccessCodeRedirect page</h1>
{% endblock %}
