/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  src: url(../fonts/Avenir-Heavy.ttf);
  font-family: "Avenir-heavy"; }

@font-face {
  src: url(../fonts/Avenir-Light.ttf);
  font-family: "Avenir-light"; }

@font-face {
  src: url(../fonts/Avenir-Medium.ttf);
  font-family: "Avenir-medium"; }

.Popup {
  transition: .5s ease;
  overflow: hidden;
  max-height: 0%;
  width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .Popup::before {
    content: url("../img/skin/pin.svg");
    display: block;
    width: 15px;
    position: absolute; }
  .Popup--open {
    border: 2px solid #680101;
    max-height: 100%;
    width: 790px;
    z-index: 10;
    background-color: #fff; }
  .Popup-title {
    font-size: 26px;
    color: #3D3D3D;
    font-family: "Raleway", sans-serif;
    margin: 20px 50px; }
  .Popup-info {
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: right;
    font-family: "Raleway";
    font-size: 19px;
    text-transform: uppercase; }
    .Popup-info-more {
      font-size: 12px; }
  .Popup--invite {
    width: 80%;
    margin: 50px auto; }
    .Popup--invite-title {
      font-family: "Avenir-medium";
      font-size: 20px;
      position: relative;
      padding-bottom: 10px; }
      .Popup--invite-title::after {
        width: 25%;
        height: 10px;
        border-bottom: 1px solid #969696;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0; }
    .Popup--invite-date {
      color: #2bb363;
      font-family: "Avenir-medium";
      font-size: 20px;
      margin-top: 30px;
      margin-right: 50px;
      display: inline-block; }
    .Popup--invite-availability {
      display: inline-block; }
      .Popup--invite-availability div {
        display: inline-block;
        margin-right: 10px; }
      .Popup--invite-availability input[type=radio] {
        position: absolute;
        visibility: hidden; }
      .Popup--invite-availability label {
        font-family: "Avenir-light";
        font-size: 15px;
        width: 135px;
        height: 30px;
        border: 1px solid #969696;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        display: block;
        position: relative;
        cursor: pointer;
        transition: .2s ease; }
      .Popup--invite-availability input#available[type=radio]:checked ~ label {
        background-color: #4285f4;
        color: #fff; }
      .Popup--invite-availability input#occupied[type=radio]:checked ~ label {
        background-color: #d0011a;
        color: #fff; }
    .Popup--invite-members {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap; }
      .Popup--invite-members-title {
        width: 100%;
        font-family: "Avenir-light";
        font-size: 20px;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px; }
        .Popup--invite-members-title::after {
          width: 25%;
          height: 10px;
          border-bottom: 1px solid #969696;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0; }
      .Popup--invite-members-subtitle {
        width: 25%;
        font-size: 19px;
        font-family: "Avenir-medium";
        color: #3d3d3d; }
      .Popup--invite-members-list {
        width: 74%; }
        .Popup--invite-members-list div {
          margin-bottom: 15px; }
        .Popup--invite-members-list-name {
          font-family: "Avenir-light";
          font-size: 20px; }
          .Popup--invite-members-list-name--admin {
            color: #ffbc4d; }
        .Popup--invite-members-list-email {
          font-family: "Avenir-light";
          font-size: 15px;
          margin-left: 10px; }
        .Popup--invite-members-list-availability {
          float: right; }
          .Popup--invite-members-list-availability img {
            width: 18px;
            vertical-align: middle; }
  .Popup--event {
    width: 80%;
    margin: 50px auto; }
    .Popup--event-title {
      position: relative;
      padding-bottom: 10px;
      font-family: "Avenir-medium";
      font-size: 20px; }
      .Popup--event-title::after {
        width: 25%;
        height: 10px;
        border-bottom: 1px solid #969696;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0; }
      .Popup--event-title input {
        width: 100%;
        border: none;
        font-family: "Avenir-medium";
        font-size: 20px; }
      .Popup--event-title input:focus {
        outline: none; }
    .Popup--event-subtitle {
      text-transform: uppercase;
      margin-top: 20px;
      font-family: "Avenir-medium";
      font-size: 12px; }
    .Popup--event-date {
      margin-top: 30px;
      font-size: 20px;
      font-family: "Avenir-light"; }
      .Popup--event-date input {
        font-family: "Avenir-light";
        font-size: 25px;
        background-color: #F3F3F3;
        padding: 5px 10px;
        border: none;
        outline: none; }
      .Popup--event-date span {
        margin: 0px 10px; }
    .Popup--event-time {
      margin-top: 50px;
      font-family: "Avenir-light";
      font-size: 20px;
      display: flex; }
      .Popup--event-time-title {
        width: 25%;
        position: relative;
        padding-bottom: 10px; }
        .Popup--event-time-title::after {
          width: 100%;
          height: 10px;
          border-bottom: 1px solid #969696;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0; }
      .Popup--event-time input {
        margin-left: 20px; }
      .Popup--event-time output {
        margin-left: 20px;
        font-family: "Avenir-light";
        font-size: 25px;
        background-color: #F3F3F3;
        color: #a6a6a6;
        padding: 5px 10px; }
    .Popup--event-place, .Popup--event-team {
      margin-top: 50px;
      font-family: "Avenir-light";
      font-size: 20px;
      display: flex; }
      .Popup--event-place-title, .Popup--event-team-title {
        position: relative;
        width: 25%;
        padding-bottom: 10px;
        align-self: center; }
        .Popup--event-place-title::after, .Popup--event-team-title::after {
          width: 100%;
          height: 10px;
          border-bottom: 1px solid #969696;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0; }
      .Popup--event-place input, .Popup--event-place select, .Popup--event-team input, .Popup--event-team select {
        border: none;
        outline: none;
        margin-left: 20px;
        padding: 5px 10px;
        font-family: "Avenir-light";
        font-size: 25px;
        background-color: #F3F3F3; }
    .Popup--event-tags {
      margin-top: 20px; }
      .Popup--event-tags li {
        display: inline-block;
        padding: 5px 40px;
        color: #fff;
        font-family: "Avenir-medium";
        font-size: 14px;
        margin-right: 20px; }
      .Popup--event-tags li:nth-child(1) {
        background-color: #BE6575; }
      .Popup--event-tags li:nth-child(2) {
        background-color: #6FA96F; }
      .Popup--event-tags li:nth-child(3) {
        background-color: #A061D6; }
    .Popup--event-choose {
      margin-top: 50px;
      max-height: 150px;
      overflow-y: scroll; }
      .Popup--event-choose li {
        width: 100%;
        margin-bottom: 20px; }
      .Popup--event-choose div {
        display: inline-block; }
      .Popup--event-choose-title {
        width: 50%;
        font-family: "Avenir-light";
        font-size: 18px; }
      .Popup--event-choose input[type=radio] {
        position: absolute;
        visibility: hidden; }
      .Popup--event-choose label {
        font-family: "Avenir-light";
        font-size: 15px;
        width: 135px;
        height: 30px;
        border: 1px solid #969696;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        display: block;
        position: relative;
        cursor: pointer;
        transition: .2s ease; }
      .Popup--event-choose input[type=radio]:checked ~ label {
        background-color: #4285f4;
        color: #fff; }
  .Popup-submit {
    width: 145px;
    height: 40px;
    background-color: #2bb364;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family: "Avenir-medium";
    font-size: 14px;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px; }

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading img {
    width: 300px; }
